/* font-family: 'Inter', sans-serif; */
.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 0 130px 48px;
    /* border: 8px solid red; */
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 300px 160px 206px;
    grid-template-areas:
        "HEADER HEADER HEADER"
        "BANNER BANNER ASIDE"
        "FRAME2 FRAME3 ASIDE"
        "FRAME5 FRAME6 FRAME7";


    /* header */
}

header {
    grid-area: HEADER;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* background-color: blue; */
}

ul {
    display: flex;
    gap: 40px;

}

.navli {
    color: #484F5E;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 19px;
}

li:nth-child(1) a {
    color: #000;
    font-weight: bold;
}

.banner {

    grid-area: BANNER;
    margin-bottom: 20px;
    /* background-color: red; */
}
.bannerimg{
    width: 100%;
    height: 100%;
}


/* aside */
aside {
    padding: 32px 32px 60px 32px;
    grid-area: ASIDE;
    background: #00001A;
}

h1 {
    color: #FFA24C;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 44px;
}

.article {
    margin: 24px 0 24px 0;
}

.articleh2 {
    margin-bottom: 14px;
    color: #FCFCFC;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 22px;
}

.article1p {
    color: #B3BFD7;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 18px;
}

/* frame2 */
.frame2 {
    grid-area: FRAME2;
    /* background-color: yellow; */
}

.frame2div {
    width: 281px;
}

.frame2title {
    color: #000;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 48px;
}

/* frame3 */
.frame3 {
    grid-area: FRAME3;
    /* background-color: aquamarine; */
}

.frame3p {
    margin-bottom: 35px;
    color: #484F5E;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 19px;
}

.frame3_button {
    padding: 15px 54px;
    border-style: none;
    background: #F15D51;
    color: #FFF;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 19px;

}
/* frame5 */
.frame5 {
    display: flex;
    gap: 10px;
    grid-area: FRAME5;
    /* background-color: blueviolet; */
}

.frame5h {
    color: #CAC9CD;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 48px;
}

.frame5title {
    margin: 18px 0 10px 0;
    color: #000;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 22px;
}

.frame5p {
    color: #484F5E;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 18px;
}
/* frame6 */
.frame6 {
    display: flex;
    gap: 10px   ;
    grid-area: FRAME6;
    /* background-color: brown; */
}
/* frame7 */
.frame7 {
    display: flex;
    gap: 10px   ;
    grid-area: FRAME7;
    /* background-color: coral; */
}
.frame5, .frame6, .frame7{
    margin-top: 64px;
}

